streamlit
pandas
numpy
ta
plotly
requests
streamlit-autorefresh
ccxt
ccxt[async]
scikit-learn
joblib
scipy
pytz
hmmlearn
cachetools
pydantic
pydantic-settings
python-decouple
pyyaml
dependency-injector
aiohttp
stable-baselines3
gymnasium
torch
prometheus_client
pytest
