aiofiles
aiohttp
cachetools
ccxt
dependency-injector
gymnasium          # 可选
hmmlearn           # 可选
joblib
numpy
pandas
plotly
prometheus_client
pydantic
pydantic-settings
pyyaml
scikit-learn
scipy
stable-baselines3  # 可选
streamlit
streamlit-autorefresh
structlog
ta
tenacity
